<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body class="max-width mx-auto px3 <%- theme.direction -%>">
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_desktop') %>
    <% } %>
    <div class="content index py4">
        <% if (!is_post()) { %>
          <%- partial('_partial/header') %>
        <% } %>
        <% if (!is_post() && page.title != 'about') { %>  
        <div class="row">
            <div class="column-large">
                <%- body %>
            </div>
            <div class="column-small">
                  <%- partial('_partial/sidebar') %>
                </div>
        </div>
        <% } %>
        <% if (is_post()) { %>
          <%- partial('_partial/post/actions_mobile') %>
          <%- body %>
        <% } %>
        <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/styles') %>
    <%- partial('_partial/scripts') %>
</body>
</html>
